<mat-card>
  <mat-card-title>Forgot Password</mat-card-title>
  <mat-card-content>
    <form [formGroup]="resetForm" (ngSubmit)="submit()">
      <input type ="text" formControlName ="token" hidden>
      <mat-form-field appearance="fill">
        <mat-label>New password</mat-label>
        <input matInput placeholder="Enter your new password" type="password" formControlName="newPassword" />
        <mat-error *ngIf="resetForm.get('password')?.hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input matInput placeholder="Enter your confirm password" type="password" formControlName="confirmPassword" />
        <mat-error *ngIf="resetForm.get('confirmPassword')?.hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="resetForm.get('confirmPassword')?.hasError('passwordMismatch')">
          Confirm password is not match.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary">Reset Password</button>
    </form>
  </mat-card-content>
</mat-card>
